html {
  background-color: slategray;
}

.App {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  height: 25rem;
  padding: 1rem;
}

.chat {
  margin: 0 auto;
  width: 50%;
  background-color: slategray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
  border-radius: 2rem;
  height: 300px;
}

.result {
  height: 30%;
  width: 100%;
  color: white;
  font-size: 25px;
  text-align: center;
  line-height: 35px;
  margin: 10px;
}

.btn {
  width: 100%;
  border: none;
  background-color: rgb(18, 109, 109);
  color: white;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.btn:hover {
  background-color: teal;
}

.btn-disabled {
  border: none;
  background-color: rgb(18, 109, 109);
  color: white;
  border-radius: 10px;
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
  cursor: not-allowed;
  opacity: 0.6;
}

.textarea {
  margin: auto 0;
  width: 92%;
  height: 50%;
  outline: none;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 30px;
  color: blue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
